{% extends 'base.html' %}
{% block content %}

<style>
    body {
        color:#3c4d31;
        background-image: url('https://res.cloudinary.com/di8ugfihk/image/upload/v1683913854/wallpaperflare.com_wallpaper_1_uk1kby.jpg');
        background-size:100%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 40%;
    }

    form .btn {
        color:#556959;
        border-color:#556959;
        margin-top: 1rem;
        width: 10rem;
    }

    .main-container {
        display:grid;
        place-content: start;
        text-align: left;
        margin-top: 5rem;
        margin-left: 7rem;
    }

    .material-list {
        display:grid;
        grid-gap: 0.75rem;
        list-style-type: upper-roman;

    }

    .title {
        margin-bottom: 2rem;
    }

    a {
        color: #362b26;
    }

    a:hover {
        color:#556959;
    }

</style>

<div class="main-container">
    <h2 class="title">Hunter Materials To Gather</h2>
    <ol class="material-list">
    {% for item in user_material_list %}
        <li>
            {{ item.item }} 
            <a href="{% url 'material_list_item_update' item.id %}">[ &#x2699; ]</a> 
            <a href="{% url 'material_list_item_delete' item.id %}">[ &#x2713; ]</a> 
        </li>
    {% endfor %}
    </ol>
    <form action="{% url 'material_list_item_create' %}" method="POST">
        {% csrf_token %}
        {{ material_list_item_form.as_p }}
        <input type="submit" class="btn" value="Add Material">
    </form>
</div>

{% endblock %}