{% extends 'base.html' %}
{% block content %}

<style>

    h1 {
        color:#556959;
    }

    p {
        color:#7d8e81;
    }

    body {
        background-image: url('https://res.cloudinary.com/di8ugfihk/image/upload/v1683913830/map-of-the-world-2241469_1920_wumamb.png');
        background-size: contain;
        background-repeat:repeat;
    }

    .top-container {
        place-items:center;
    }

    img {
        width: 50%;
    }

    .text-container {
        text-align: center;
        min-height: 60vh;
    }
</style>

<div class="d-grid top-container">
<div class="d-flex flex-column w-100 bg-dark bg-opacity-75 align-items-center main-container">
    {% if monster.name == 'Aptonoth' %}
        <img src="https://static.wikia.nocookie.net/monsterhunter/images/4/47/MHW-Aptonoth_Render_001.png/revision/latest/scale-to-width-down/1000?cb=20180209035147" alt="">
    {% else %}
    {% for mon in monster_images %}
        {% if monster.name == mon.name %}
            <img src="{{mon.image}}" alt="">
        {% endif %}
    {% endfor %}
    {% endif %}
    <div class="text-container d-flex flex-column align-items-center w-50">
    <h1><strong>{{ monster.name }}</strong></h1>
    <p><strong>Species: </strong>{{ monster.species }}</p>
    <p><strong>Description: </strong> {{ monster.description }}</p>

    {% if monster.elements %}
        <p class="element"><strong>Elements: </strong></p>
        {% for element in monster.elements %}
            <p class="element">{{ element }}</p>
        {% endfor %}
    {% else %}
        <p><strong>Elements: </strong> None</p>
    {% endif %}

    {% if monster.ailments %}
        <p><strong>Ailments: </strong>{{ monster.ailments.0.name }}</p>
        <p><strong>Ailment Description: </strong> {{ monster.ailments.0.description }}</p>
    {% endif %}

    <p><strong>Location: </strong>{{ monster.locations.0.name }}</p>
    <p><strong>Resistances: </strong> {{ monster.resistances.0.element }}</p>
    <p><strong>Weaknesses: </strong> {{ monster.weaknesses.0.element }}</p>
    <p><strong>Weakness Rating [1-5] : </strong> {{ monster.weaknesses.0.stars }}</p>
</div>
</div>
</div>

{% endblock %}