{% extends 'base.html' %}
{% block content %}

<style>
    .carousel-inner {
        margin-top:3rem;
    }

    img:hover {
        box-shadow: 2px 2px 10px #FFDA87, -2px -2px 10px #FFDA87;
        transition: box-shadow 1s ease-in-out;
    }

    .d-block {
        padding-left: 13rem;
        padding-right: 13rem;
        padding-bottom: 10.5rem;
        padding-top: 4rem;
        box-shadow:none;
    }

    h5 {
        color:#556959;
    }

    p {
        color:#7d8e81;
    }

    img{
        background-image: url('https://res.cloudinary.com/di8ugfihk/image/upload/v1683927341/image-from-rawpixel-id-2644944-original_alsk2i.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 85%;
    }

</style>
    
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>

    </div>
    <div class="carousel-inner">

        <!-- first carousel item with class active -->
      <div class="carousel-item active">
        <a href="{% url 'small_monster_detail' 'Aptonoth' %}">
        <img src="https://static.wikia.nocookie.net/monsterhunter/images/4/47/MHW-Aptonoth_Render_001.png/revision/latest/scale-to-width-down/1000?cb=20180209035147" class="d-block mx-auto" alt="..." style="height:45rem">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Aptonoth</h5>
          <p>Docile herbivores that graze in packs. Their meat is considered a delicacy and is rich in nutrients. If one member of the herd is attacked, the rest will flee immediately.</p>
        </div>
      </div>

      {% for monster in small_monsters %}
        {% for mon in small_monster_images %}
            {% if monster.name == mon.name %}
        <div class="carousel-item">
            <a href="{% url 'small_monster_detail' monster.name %}">
            <img src="{{mon.image}}" class="d-block mx-auto" alt="..." style="height:45rem">
            <div class="carousel-caption d-none d-md-block">
            <h5>{{ monster.name }}</h5>
            <p>{{ monster.description }}</p>
            </div>
            </a>
        </div>
            {% endif %}
        {% endfor %}
      {% endfor %}

      <!-- This is carousel inner div -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock %}
